<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Document</title>
</head>
<body>
    <div class="w3-light-grey">
        {{>logo}}
        {{>sidebar}}
        {{{body}}}
    </div>          
    <script src="/scripts/dashboard.js" />
</body>
</html>